{% set ttl                = item.ttl                if item.ttl                is defined else zone_default.ttl %}
{% set email              = item.email              if item.email              is defined else zone_default.email %}
{% set refresh            = item.refresh            if item.refresh            is defined else zone_default.refresh %}
{% set retry              = item.retry              if item.retry              is defined else zone_default.retry %}
{% set expire             = item.expire             if item.expire             is defined else zone_default.expire %}
{% set negative_cache_ttl = item.negative_cache_ttl if item.negative_cache_ttl is defined else zone_default.negative_cache_ttl %}
{% set spf_text           = item.spf_text           if item.spf_text           is defined else zone_default.spf_text %}
{% set dkim_text          = item.dkim_text          if item.dkim_text          is defined else zone_default.dkim_text %}
{% set nameserver         = item.nameserver         if item.nameserver         is defined else zone_default.nameserver %}
;
; BIND data file for {{ item.zone }}. zone
;
$TTL    {{ ttl }}
@   IN  SOA {{ nameserver[0] }}. {{ email }}. (
             {{ next_serial }}     ; Serial
             {{ refresh }}            ; Refresh
             {{ retry }}             ; Retry
             {{ expire }}             ; Expire
             {{ negative_cache_ttl }} )           ; Negative Cache TTL
;

{% for n in nameserver %}
@   IN  NS  {{ n }}.;
{% endfor %}

{% if item.mx is defined %}
{% for m in item.mx %}
@   IN  MX {{ m.priority }} {{ m.host }};
{% endfor %}
{% endif %}
;
{% for a in item.a %}
{% for name in a.name %}
{% for address in a.address | ipv4 %}
{{ name }}         A   {{ address }};
{% endfor %}
{% for address in a.address | ipv6 %}
{{ name }}         AAAA   {{ address }};
{% endfor %}
{% endfor %}
{% endfor %}
{% for cname in item.cname %}
{% for name in cname.name %}
{{ name }}         CNAME   {{ cname.link }};
{% endfor %}
{% endfor %}

{% if item.mx is defined %}
{{ item.zone }}. TXT "{{ spf_text }}"
{% if dkim_public_key is defined %}
{{ item.zone }}. TXT "{{ dkim_text | replace('[[dkim_public_key]]',dkim_public_key) }}"
{% endif %}
{% endif %}
