//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

{% for d in zones %}
{% set master_host    = d.master_host    if d.master_host    is defined else zone_default.master_host %}
{% set master_address = d.master_address if d.master_address is defined else zone_default.master_address %}
zone "{{ d.zone }}" {
{% if master_host == inventory_hostname %}
    type master;
    file "/etc/bind/db.{{ d.zone }}";
{% else %}
    type slave;
    masters { {{ master_address }}; };
    file "/var/lib/bind/bak.{{ d.zone }}";
{% endif %}
{% if d.nameserver_addresses is defined %}
    allow-transfer {
{% for a in d.nameserver_addresses %}
        {{ a }};
{% endfor %}
    };
{% endif %}
};
{% endfor %}

{% for d in reverse_zones %}
{% set master_host    = d.master_host    if d.master_host    is defined else zone_default.master_host %}
{% set master_address = d.master_address if d.master_address is defined else zone_default.master_address %}
zone "{{ d.reverse_zone | ansible.utils.ipaddr('revdns') }}" {
{% if master_host == inventory_hostname %}
    type master;
    file "/etc/bind/db.{{ d.reverse_zone | ansible.utils.ipaddr('revdns') }}";
{% else %}
    type slave;
    masters { {{ master_address }}; };
    file "/var/lib/bind/bak.{{ d.reverse_zone | ansible.utils.ipaddr('revdns') }}";
{% endif %}
{% if d.nameserver_addresses is defined %}
    allow-transfer {
{% for a in d.nameserver_addresses %}
        {{ a }};
{% endfor %}
    };
{% endif %}
};
{% endfor %}

